[class^="icon-"], [class*="icon-"] {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-caret {
  width: 0.3125em;
}

.icon-chevron {
  width: 0.34375em;
}

.icon-download {
  width: 1.0625em;
}

.icon-facebook {
  width: 0.59375em;
}

.icon-google-plus {
  width: 1.28125em;
}

.icon-pinterest {
  width: 0.857421875em;
}

.icon-play-circle {
  width: 0.84375em;
}

.icon-power {
  width: 0.96875em;
}

.icon-star {
  width: 1.0625em;
}

.icon-step {
  width: 0.90625em;
}

.icon-timer {
  width: 0.90625em;
}

.icon-tutos {
  width: 1.1875em;
}

.icon-twitter {
  width: 0.9375em;
}

.icon-up {
  width: 0.875em;
}
