@include breakpoint(large) {

  .menu-item {
    position: relative;
  }

  .main--navigation > .menu > .menu-item  {

    > a {

      font-size: .9rem;
      padding: 1rem;
      vertical-align: middle;
      position: relative;
      border-right: 1px solid rgba(255,255,255,.9);
      transition: background 0.3s;
      color: $body-font-color;
      text-align: center;

      @include breakpoint(medium) {
        height: $headerHeight;
        display: table-cell;
      }

      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 0px;
        background: $dark-gray;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: all 0.2s ease;
        color: $body-font-color;
      }

      &:hover, &:focus {
        background-color: #fff;
        &:before {
          height: 0.5rem;
        }
      }

    }

    &.active > a {
      background-color: #fff;

      &:before {
        height: 0.5rem;
      }

    }

    &.link-login {
      .icon {
        font-size: 1.2em;
        display: block;
        margin: auto;
        margin-top: -1em;
      }

      > a {
        color: $primary-color;
        font-weight: bold;
        line-height: 1.6;
      }
    }
  }
}
.menu .dropdown-pane {
  background: $dark-gray;
  color: $white;
  box-shadow: 1px 1px 1px rgba($dark-gray, .4);

  transition: transform 200ms ease-in-out;

  &#menu-features {
  width: $dropdown-width + 120px;
    .submenu {
      padding-left: 110px;
      > .menu-item:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }
}
.submenu, .sub-menu {
  @extend .no-bullet;
  margin-bottom: 0;

  a {
    color: inherit;
    transition: color 100ms ease;
    &:hover, &:focus {
      outline: none;
      color: map-get($foundation-palette, secondary);
    }
  }
}
.submenu {
  > .menu-item {
    &:before {
      content: '';
      display: block;
      width: 100px;
      height: 100px;
      position: absolute;
      left: -110px;
      @include vertical-center;
      z-index: 50;
      background: url(../images/pictos-features.svg) no-repeat;
      background-size: 100%;
      background-position: 0 0;
    }
    > a {
      text-transform: uppercase;
      font-size: 1.1rem;
      color: $primary-color;
      font-weight: 600;

      &:hover, &:focus {
        color: map-get($foundation-palette, secondary);
    }
    }
  }

  .amenager {
    &:before {
      background-position: 0 -100px;
    }
  }
  .decorer {
    &:before {
      background-position: 0 -300px;
    }
  }
  .valoriser {
    &:before {
      background-position: 0 -200px;
    }
  }
}