.pricing-table--wrapper {
  @include grid-row(15, null, 100%, true, 1rem) {
    .pricing-table--column {
      @include grid-column(3, 1rem);
    }
  }
}

.pricing-table {
  border: solid 1px $light-gray;

  li {
    border-bottom: dotted 1px $light-gray;
    padding: 0.875rem 1.125rem;
    &:last-child {
      border-bottom: 0;
    }
  }

  .title {
    background-color: $body-font-color;
    color: $white;
    border-bottom: 0;
  }

  .price {
    background-color: $light-gray;
    color: $body-font-color;
    font-size: 1.75rem;
    border-bottom: 0;
  }

  .description {
    color: $medium-gray;
    small {
      display: block;
    }
  }

  .button {
    margin: 0;
  }
}