@import "common/settings";

// Import npm dependencies
@import "~foundation-sites/scss/foundation";

@import "common/includes";
@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/navigation";
@import "components/navigation-mobile";
@import "components/icons";
@import "components/princing";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/accueil";
@import "layouts/posts";
@import "layouts/gallery";
@import "layouts/tinymce";

