{
  "root": true,
  "extends": "airbnb",
  "globals": {
    "wp": true
  },
  "env": {
    "amd": true,
    "browser": true,
    "jquery": true,
    "node": true
  },
  "parser": "babel-eslint",
  rules: {
    "no-console": 0,
    "no-unused-vars": 0,
    "new-cap": 0,
    "no-new": 0
  }
}
