/* Ensure elements load hidden before ScrollReveal runs */
.sr .scrollreveal, .sr .page-contenu .hentry > * { visibility: hidden; }

.type-page a {
  font-weight: 600;
  display: inline-block;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: $light-gray;
    transition: all 300ms ease;
  }

  &:hover, &:focus {
    &:after {
      background-color: $primary-color;
    }
  }
}

.wrap {
  background-color: $light-gray;
  background-image:
    linear-gradient(
      to right,
      $white, $light-gray
    );
}

.section {
  padding: ($global-padding * 2) 0;
  position: relative;
  z-index: 1;
  background-color: $white;

  > div {
    position: relative;
    z-index: 1;
  }

  &:not(:first-child) {

    &:before {
      content: '';
      display: block;
      width: 30px;
      height: 24px;
      position: absolute;
      left: calc(50% - 15px);
      top: 0;
      @include background-triangle($light-gray);
      background-repeat: no-repeat;
      background-position: top center;
      z-index: 2;
    }


    &:nth-child(even) {

      background-color: rgba($light-gray, 0.9);

      &:before {
        @include background-triangle($body-background);
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-image: url(../images/bg.svg);
        background-size: cover;
        z-index: 0;
        opacity: .1;
      }
    }

    &:nth-child(2) {
      &:before {
        @include background-triangle($body-background);
      }
    }

  }
}

.sidebar-primary .container {
  padding: $global-padding 0;
}

.textcolor {
  color: $primary-color;
}

.page--title {
  font-size: 2rem;
  font-weight: 600;
}

.section--title {
  color: map-get($foundation-palette, secondary);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    width: auto;
    display: block;
    padding: 1em;
  }

  &:before, &:after {
    content: '';
    display: block;
    flex: 1;
    height: 2px;
    background: currentColor;
  }
}

.chevron {
  content: '';
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: solid 4px $light-gray;
  border-top: none;
  border-left: none;
  transform: rotate(-45deg);
}