body {
  font-size: 1rem;
}
.wrap {
  background: darken($white, 4%);
}
.section {
  padding: ($global-padding * 2) 0;
  position: relative;
}

.textcolor {
  color: $primary-color;
}

.button {
  text-transform: uppercase;
  font-weight: bold;
}

.images-grid {
  @include grid-row;
  @include grid-layout(2, '.images-grid--item');

  .images-grid--item {
    padding: $global-padding / 2;
  }
}

.picto {
  display: inline-block;
  text-align: center;
  line-height: 0;
  padding: 1rem;
  background: darken($primary-color, 15%);
  color: $white;
  border-radius: 50%;
  position: absolute;
  top: -2rem;
  left: calc(50% - 2rem);
  font-size: 2rem;
}