.accesdirect--items {
  @extend .no-bullet;
  margin-bottom: 0;
  display: flex;
  @include flex-align(spaced, middle);
  color: map-get($foundation-palette, secondary);
}
.accesdirect--item {
  &:not(:last-child) {
    position: relative;
    padding-right: 2rem;

  }
}
.accesdirect--button {
  color: inherit;
  text-transform: uppercase;
  font-weight: bold;
}

.why {
  color: map-get($foundation-palette, secondary);
}

.feature--wrapper {
  @include flex-grid-row;
  @include flex-align(spaced, middle);
}
.feature--column {
  @include flex-grid-column(6);
}

.feature {
  .section--title {
    &:before {
      display: none;
    }
  }

  &:nth-child(2n + 2) {

    .feature--column:first-child {
      order: 1;
    }
  }
}