.accesdirect--items {
  @extend .no-bullet;
  margin-bottom: 0;
  display: flex;
  @include flex-align(spaced, middle);
  color: map-get($foundation-palette, secondary);

  .chevron {
    display: none;
    @include breakpoint(medium) {
      display: block;
    }
  }
}

.accesdirect--button {
  color: inherit;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: color 200ms ease;

  .picto {
    fill: currentColor;
    max-height: 3.5rem;
    margin-bottom: .5rem;
    transition: transform 200ms ease-in;
  }

  &:hover .picto {
    transform: scale(1.1);
  }
}

.why {
  color: map-get($foundation-palette, secondary);
}

.feature--wrapper {
  @include flex-grid-row;
  @include flex-align(spaced, middle);
}
.feature--column {
  @include flex-grid-column(12);
  @include breakpoint(medium) {
    @include flex-grid-column(6);
  }
}

.feature {
  .section--title {
    &:before {
      display: none;
    }
  }

  &:nth-child(2n + 2) {

    .feature--column:first-child {
      order: 1;
    }
  }
}

.home-galerie {
  background: url(../images/bg-gallery.jpg);
  background-size: cover;
  color: $white;

  .section--title {
    color: inherit;
  }
}