.mainfooter {
  background: url(../images/footer-bg.png);
  background-size: cover;
  color: $white;
}

.ours {
  padding: $global-padding 0;
  background: $black;
  p a {
    color: inherit;
  }
}

.widget--area {
  padding: $global-padding 0;
  @include grid-row;

  .widget {
    @include grid-column;

    @include breakpoint(medium) {
      @include grid-column-size(4);
    }
  }
}

.reseaux--list {
  margin-bottom: 0;
}
.reseaux--item {
  display: inline-block;
  margin: 0 0.2em;
}
.reseaux--link {
  display: inline-block;
  padding: 0.5em;
  color: inherit;
  background: $primary-color;
  line-height: 1em;
  border-radius: 50%;
  font-size: 1.2rem;
}
