.mainfooter {
  background: url(../images/footer-bg.png);
  background-size: cover;
  color: $white;
}

.ours {
  padding: $global-padding 0;
  background: $black;
  p a {
    color: inherit;
  }
}

.widget--area {
  padding: $global-padding 0;
  @include grid-row;

  .widget {
    @include grid-column;

    @include breakpoint(medium) {
      @include grid-column-size(4);
    }
  }
}

.nav-footer--item {
  position: relative;
  .icon {
    margin-right: .3em;
    font-size: 2em;
    color: $primary-color;
    position: relative;
    top: 0.3em;
  }
}
.nav-footer--link {
  color: inherit;
}

.widget_recent_entries {
  ul {
    @extend .no-bullet;
    li {

      display: flex;
      align-items: center;

      a {
        color: inherit;
        order: 2;
      }

      .post-date {
        color: $primary-color;
        display: block;
        text-align: center;
        font-weight: bold;
        max-width: 2em;
        margin-right: 1em;
        font-size: 1.5rem;
        line-height: 1;
      }
    }
  }
}

.reseaux--list {
  margin-bottom: 0;
}
.reseaux--item {
  display: inline-block;
  margin: 0 0.2em;
}
.reseaux--link {
  display: inline-block;
  padding: 0.5em;
  color: inherit;
  background: $primary-color;
  line-height: 1em;
  border-radius: 50%;
  font-size: 1.2rem;
}
