.mainheader {
  background-color: $light-gray;
  background-image:
    linear-gradient(
      to right,
      $white, $light-gray
    );
}
.mainheader--wrapper {
  @include flex-grid-row;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;

  @include breakpoint(large) {
    flex-direction: row;
  }
}

.brand {
  display: block;
  height: $headerHeight;
}

.logo {
  height: 100%;
  padding: .5rem 0;
}

