.banner {
  background: url(../images/banner-bg.jpg) center;
  background-size: cover;
  text-align: center;
  color: $white;
  min-height: 200px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  .home & {
    background-image: url(../images/banner-home.jpg);
    min-height: 450px;
  }

  .maintitle {
    text-transform: uppercase;
    max-width: 600px;
    font-size: 2rem;
  }

}

.breadcrumbs {
  background: $primary-color;
  padding: .5rem;
  color: $white;
  a {
    color: inherit;
  }
}

.page-wrapper {
  @include grid-row();
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.page-column {
  @include grid-col;

  @include breakpoint(medium) {
    &.sidebar {
      @include grid-col-size(4);
    }
    &.page-contenu {
      @include grid-col-size(8);
    }
  }


}

.soumenu, .children {
  @include menu-expand;
}

.children {
  @include menu-base;
  @include menu-direction(vertical);

}

.children {
  @include menu-nested($global-padding);
}

.current_page_item {
  @extend .active;
}

.contact--address {
  color: $primary-color;
}
.contact--phone {
  color: map-get($foundation-palette, primary-dark);
}
