.banner {
  background: url(../images/banner-bg.jpg) center;
  background-size: cover;
  text-align: center;
  color: $white;
  @include clearfix();

  min-height: 25vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  .home & {
    justify-content: space-between;
  }

}

.soumenu, .children {
  @include menu-expand;
}

.children {
  @include menu-base;
  @include menu-direction(vertical);

}

.children {
  @include menu-nested($global-padding);
}

.current_page_item {
  @extend .active;
}

.gallery--items {
  @extend .no-bullet;
}
