.banner {
  background: url(../images/banner-bg.jpg) center;
  background-size: cover;
  text-align: center;
  color: $white;
  @include clearfix();

  min-height: 25vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  .home & {
    background-image: url(../images/banner-home.jpg);
    min-height: 50vh;
  }

}

.breadcrumbs {
  background: $primary-color;
  padding: .5rem;
  color: $white;
  a {
    color: inherit;
  }
}

.soumenu, .children {
  @include menu-expand;
}

.children {
  @include menu-base;
  @include menu-direction(vertical);

}

.children {
  @include menu-nested($global-padding);
}

.current_page_item {
  @extend .active;
}

.gallery--items {
  @extend .no-bullet;
}
